body { 
    background-color: #222222 !important;
     color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
       padding-bottom: 5rem;
        overflow: hidden;
} 

.card {
    color: black;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

form div {
    margin: 0.5em;
} 

.logo {
    max-width: 4%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.btn-primary {
    background-color: #23D061 !important; 
    position: relative; 
    border-color: #34d849 !important; 
} 

.row{ 
    margin-bottom: 1.45rem !important;
} 

.navbar-text { 
    color: #FFFFFF !important;
}

.ui-loading .ui-loader { 
    display: block;
}

.ui-loader { 
    display: none; 
    position: absolute; 
    opacity: .85; 
    z-index: 100; 
    left: 50%; 
    width: 200px; 
    margin-left: -130px; 
    margin-top: -35px; 
    padding: 10px 30px; 
} 

.ui-slider-horizontal { 
    height: .5em !important; 
} 

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #23D061 !important;
    border: 1px #003b0a !important; 
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus { 
    background: #00822e !important; 
    border: 1px #003b0a !important; 
} 

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover { 
    background: #7cffab !important; 
    border: 1px #003b0a !important; 
} 

.btn-login { 
    padding: 10% .375em !important;
} 

.search{ 
    position: absolute !important; 
    bottom: 0%; 
} 

.table table-dark {
    background-color: #222222 !important;
} 

thead { 
    background-color: #333333;
 } 

tbody { 
    background-color: #222222;
} 

a { 
    color: #23D061 !important;
} 

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 0.1rem rgba(72, 180, 97, .5);
} 

.table { 
    background-color: #222222 !important; 
    position: absolute; 
    top: 31rem;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 60%; 
} 

thead { 
    background-color: #333333; 
} 

tbody { 
    background-color: #222222; 
} 

a { 
    color: #23D061 !important; 
} 

thead { 
    background-color: #333333; 
} 

tbody { 
    background-color: #222222; 
} 

#mainmenu { 
    width: 100%; 
    position: fixed; 
    margin-bottom: 1rem; 
    z-index: 1000; 
} 

body main { 
    padding-top: 5rem; 
} 

.center-50 { 
    width: 50%; 
    margin: auto; 
} 

.list-group { 
    display: table; 
    z-index: -1; 
} 

.sticky-title { 
    position: sticky; 
    position: -webkit-sticky; 
    top: 3rem; 
    background: #222222; 
    padding: 1rem; 
} 

.alert { 
    max-width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
} 

.pop-up { 
    top: -8rem !important; 
    font-size: 1.25em; 
    text-align: center; 
    padding: 3.5%; 
    color: #FFFFFF; 
    z-index: 99999; 
    position: relative; 
} 

.scroll { 
    max-height: 150px; 
    overflow-y: auto; 
} 

.navbar-nav .nav-link { 
    padding: 1.05rem; 
} 

.align { 
    text-align: center; 
    justify-content: center; 
    left: 45%;
} 

.card { 
    background-color: #343a40 !important; 
    color: #FFFFFF !important; 
    border-radius: 3%;
} 

.nav-link.active { 
    background-color: #454b51 !important; 
    border-color: #869098 #566573 #93b0ce !important; 
    border-radius: 3%; 
} 

.nav-tabs { 
    border-bottom: 1px solid #6a849e !important; 
} 

.no_results { 
    color: white; 
    text-align: center; 
} 

.foot { 
    z-index: 2; 
    bottom: 5%; 
    color: #FFFFFF !important;
    position: absolute;
    left: 50%; 
} 

button.btn.btn-primary.centered.footv2 { 
    margin-top: 1rem;
} 

.filter { 
    width: 5rem; 
} 

a.pl-link { 
    color: black !important; 
    text-decoration: underline; 
} 

.profile{ 
    display: table; 
    margin: 0 auto; 
    margin-top: 2rem; 
} 

.left{ 
    text-align: left !important; 
}