{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <datalist id="Genres">
        <option value="A Capella">
        <option value="Alternative">
        <option value="Blues">
        <option value="Children's Music">
        <option value="Classical">
        <option value="Electronic">
        <option value="Folk">
        <option value="Hip-Hop">
        <option value="Indie">
        <option value="Jazz">
        <option value="Pop">
        <option value="R&B">
        <option value="Reggae">
        <option value="Religious">
        <option value="Rock">
        <option value="Soundtrack">
        <option value="World">
    </datalist>
    <script>
        // converter of milliseconds to minutes and seconds
        function msconverter(ms) {
            var minutes = Math.floor(ms / 60000);
            var seconds = ((ms % 60000) / 1000).toFixed(0);
            return (seconds == 60 ? (minutes + 1) + ":00" : minutes + ":" + (seconds < 10 ? "0" : "") + seconds);
        };
        // All filter sliders
        $(function () {
            $("#slider-mood-advanced").slider({
                range: true,
                min: 0,
                max: 1,
                values: [0.00, 1.00],
                step: 0.01,
                slide: function (event, ui) {
                    $("#amount_mood").val(ui.values[0] + " - " + ui.values[1]);
                    document.getElementById('mood-min').value = ui.values[0];
                    document.getElementById('mood-max').value = ui.values[1];
                }
            });
            $("#slider-tempo-advanced").slider({
                range: true,
                min: 0,
                max: 221,
                values: [0, 221],
                step: 1,
                slide: function (event, ui) {
                    $("#amount_tempo").val(ui.values[0] + " - " + ui.values[1]);
                    document.getElementById('tempo-min').value = ui.values[0];
                    document.getElementById('tempo-max').value = ui.values[1];
                }
            });
            $("#slider-dance-advanced").slider({
                range: true,
                min: 0,
                max: 1,
                values: [0.00, 1.00],
                step: 0.01,
                slide: function (event, ui) {
                    $("#amount_dance").val(ui.values[0] + " - " + ui.values[1]);
                    document.getElementById('dance-min').value = ui.values[0];
                    document.getElementById('dance-max').value = ui.values[1];
                }
            });
            $("#slider-instrumental-advanced").slider({
                range: true,
                min: 0,
                max: 1,
                values: [0.00, 1.00],
                step: 0.01,
                slide: function (event, ui) {
                    $("#amount_instrumental").val(ui.values[0] + " - " + ui.values[1]);
                    document.getElementById('instrumental-min').value = ui.values[0];
                    document.getElementById('instrumental-max').value = ui.values[1];
                }
            });
            $("#slider-energy-advanced").slider({
                range: true,
                min: 0,
                max: 1,
                values: [0.00, 1.00],
                step: 0.01,
                slide: function (event, ui) {
                    $("#amount_energy").val(ui.values[0] + " - " + ui.values[1]);
                    document.getElementById('energy-min').value = ui.values[0];
                    document.getElementById('energy-max').value = ui.values[1];
                }
            });
            $("#slider-time-advanced").slider({
                range: true,
                min: 0,
                max: 900000,
                values: [0.00, 900000],
                step: 1000,
                slide: function (event, ui) {
                    $("#amount_time").val(msconverter(ui.values[0]) + " - " + msconverter(ui.values[1]));
                    document.getElementById('time-min').value = ui.values[0];
                    document.getElementById('time-max').value = ui.values[1];
                }
            });
            // values of user input for user to view
            $("#amount_mood").val($("#slider-mood-advanced").slider("values", 0) +
                " - " + $("#slider-mood-advanced").slider("values", 1));
            document.getElementById('mood-min').value = $("#slider-mood-advanced").slider("values", 0);
            document.getElementById('mood-max').value = $("#slider-mood-advanced").slider("values", 1);

            $("#amount_tempo").val($("#slider-tempo-advanced").slider("values", 0) +
                " - " + $("#slider-tempo-advanced").slider("values", 1));
            document.getElementById('tempo-min').value = $("#slider-tempo-advanced").slider("values", 0);
            document.getElementById('tempo-max').value = $("#slider-tempo-advanced").slider("values", 1);

            $("#amount_dance").val($("#slider-dance-advanced").slider("values", 0) +
                " - " + $("#slider-dance-advanced").slider("values", 1));
            document.getElementById('dance-min').value = $("#slider-dance-advanced").slider("values", 0);
            document.getElementById('dance-max').value = $("#slider-dance-advanced").slider("values", 1);

            $("#amount_instrumental").val($("#slider-instrumental-advanced").slider("values", 0) +
                " - " + $("#slider-instrumental-advanced").slider("values", 1));
            document.getElementById('instrumental-min').value = $("#slider-instrumental-advanced").slider("values", 0);
            document.getElementById('instrumental-max').value = $("#slider-instrumental-advanced").slider("values", 1);

            $("#amount_energy").val($("#slider-energy-advanced").slider("values", 0) +
                " - " + $("#slider-energy-advanced").slider("values", 1));
            document.getElementById('energy-min').value = $("#slider-energy-advanced").slider("values", 0);
            document.getElementById('energy-max').value = $("#slider-energy-advanced").slider("values", 1);

            $("#amount_time").val("0:00 - 15:00");
            document.getElementById('time-min').value = $("#slider-time-advanced").slider("values", 0);
            document.getElementById('time-max').value = $("#slider-time-advanced").slider("values", 1);
        });
    </script>
    <div class="centered">
        <div class="card">
            <div class="card-title">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="simple-tab" data-toggle="tab" href="#simple"
                           role="tab" aria-controls="simple" aria-selected="true">Simple</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced"
                           role="tab" aria-controls="advanced" aria-selected="false">Advanced</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="simple" role="tabpanel"
                     aria-labelledby="simple-tab">
                    <div class="card-body">
                        <form class="form-inline align"
                              action="{{ url_for('results.simple_results') }}" method="post">
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" list="Genres" autocomplete="off"
                                       class="form-control" name="genre" placeholder="Type a genre"
                                       autofocus>
                            </div>
                            <div class="col-sm-12">
                                <h6 class="card-text mt-3">What mood do you want?</h6>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-success filter">
                                        <input type="radio" name="moodoptions" id="moodoption1"
                                               value="sad"> Sad
                                    </label>
                                    <label class="btn btn-success active">
                                        <input type="radio" name="moodoptions" id="moodoption2"
                                               value="nopreference" checked> No preference
                                    </label>
                                    <label class="btn btn-success filter">
                                        <input type="radio" name="moodoptions" id="moodoption3"
                                               value="happy"> Happy
                                    </label>
                                </div>
                                <h6 class="card-text mt-3">How fast should the song be?</h6>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-success filter">
                                        <input type="radio" name="speedoptions" id="speedoption1"
                                               value="slow"> Slow
                                    </label>
                                    <label class="btn btn-success active">
                                        <input type="radio" name="speedoptions" id="speedoption2"
                                               value="nopreference" checked> No preference
                                    </label>
                                    <label class="btn btn-success filter">
                                        <input type="radio" name="speedoptions" id="speedoption3"
                                               value="fast"> Fast
                                    </label>
                                </div>
                                <h6 class="card-text mt-3">How long should the song be?</h6>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-success filter">
                                        <input type="radio" name="durationoptions"
                                               id="durationoption1" value="short"> Short
                                    </label>
                                    <label class="btn btn-success active">
                                        <input type="radio" name="durationoptions"
                                               id="durationoption2" value="nopreference" checked> No
                                        preference
                                    </label>
                                    <label class="btn btn-success filter">
                                        <input type="radio" name="durationoptions"
                                               id="durationoption3" value="long"> Long
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Search</button>
                        </form>

                    </div>
                </div>
                <div class="tab-pane fade" id="advanced" role="tabpanel"
                     aria-labelledby="advanced-tab">
                    <div class="card-body">
                        <form class="form-inline align"
                              action="{{ url_for('results.advanced_results') }}"
                              method="post">
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="text" list="Genres" autocomplete="off"
                                       class="form-control" name="genre" placeholder="Type a genre"
                                       autofocus>
                                <input type="hidden" id="mood-min" name="mood-min" value="">
                                <input type="hidden" id="mood-max" name="mood-max" value="">
                                <input type="hidden" id="tempo-min" name="tempo-min" value="">
                                <input type="hidden" id="tempo-max" name="tempo-max" value="">
                                <input type="hidden" id="dance-min" name="dance-min" value="">
                                <input type="hidden" id="dance-max" name="dance-max" value="">
                                <input type="hidden" id="instrumental-min" name="instrumental-min"
                                       value="">
                                <input type="hidden" id="instrumental-max" name="instrumental-max"
                                       value="">
                                <input type="hidden" id="energy-min" name="energy-min" value="">
                                <input type="hidden" id="energy-max" name="energy-max" value="">
                                <input type="hidden" id="time-min" name="time-min" value="">
                                <input type="hidden" id="time-max" name="time-max" value="">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h6 class="card-text">Danceability:</h6>
                                    <p>
                                        <input type="text" id="amount_dance" class="form-control"
                                               readonly style="border:0; font-weight:bold;">
                                    <div id="slider-dance-advanced"></div>
                                    </p>
                                </div>
                                <div class="col">
                                    <h6 class="card-text">Instrumentalness:</h6>
                                    <p>
                                        <input type="text" id="amount_instrumental"
                                               class="form-control" readonly
                                               style="border:0;font-weight:bold;">
                                    <div id="slider-instrumental-advanced"></div>
                                    </p>
                                </div>
                                <div class="col">
                                    <h6 class="card-text">Valence:</h6>
                                    <p>
                                        <input type="text" id="amount_mood" class="form-control"
                                               readonly style="border:0; font-weight:bold;">
                                    <div id="slider-mood-advanced"></div>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h6 class="card-text">Energy:</h6>
                                    <p>
                                        <input type="text" id="amount_energy" class="form-control"
                                               readonly style="border:0; font-weight:bold;">
                                    <div id="slider-energy-advanced"></div>
                                    </p>
                                </div>
                                <div class="col">
                                    <h6 class="card-text">Duration:</h6>
                                    <p>
                                        <input type="text" id="amount_time" class="form-control"
                                               readonly style="border:0; font-weight:bold;">
                                    <div id="slider-time-advanced"></div>
                                    </p>
                                </div>
                                <div class="col">
                                    <h6 class="card-text">Beats per minute:</h6>
                                    <p>
                                        <input type="text" id="amount_tempo" class="form-control"
                                               readonly style="border:0; font-weight:bold;">
                                    <div id="slider-tempo-advanced"></div>
                                    </p>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mb-3 search">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}