{% extends "layout.html" %}

{% block title %}
    {{ name }}'s profile
{% endblock %}

{% block main %}
    <div class="align profile">
        <div>
            <h6><b>{{ name }}</b>'s playlists: </h6>
        </div>
        <div>
            <ul class="list-group">
                {% for list in playlists %}
                <li class="list-group-item list-group-item-dark left">
                    {% if list[2] %}
                    <img src="{{ list[3] }}" height="32" width="32">
                    {% endif %}
                    <a href="https://open.spotify.com/playlist/{{ list[1] }}" target="_blank" class="pl-link">{{ list[0] }}</a> ({{ list[2] }} tracks)
                </li>
                {% endfor %}
            </ul>
        </div>
        <form action="{{ url_for('profile.profile') }}" method="post">
            <button type="submit" class="btn btn-primary centered footv2">Logout</button>
        </form>
    </div>
{% endblock %}
