{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    {% if results %}
        <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Song</th>
            <th scope="col">Artist's discography</th>
            <th scope="col">Artist's years active</th>
            {% if playlists %}
                <th scope="col">Add to a playlist</th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in results %}
            <tr>
                <td>
                    <iframe src="https://open.spotify.com/embed/track/{{ row.id.value }}"
                            width="300" height="80" frameborder="0" allowtransparency="true"
                            allow="encrypted-media"></iframe>
                </td>
                <td>
                    {% if row.topic.value != "No discography was found" %}
                        <a href="{{ row.topic.value }}#Discography"
                           target="_blank">{{ row.artist.value }}'s discography</a>
                    {% else %}
                        {{ row.topic.value }}
                    {% endif %}
                </td>
                <td>{{ row.started.value }}{% if row.ended.value %} -
                    {{ row.ended.value }}{% endif %}</td>
                {% if playlists %}
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Playlist
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for list in playlists %}
                                    <a class="dropdown-item" id="playlist" href="#"
                                       name="{{ row.id.value }}, | ,{{ list[0] }}, | ,{{ list[1] }}">{{ list[0] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>

        {% endfor %}
        </tbody>
        <a class="btn btn-secondary centered foot" href="{{ url_for('results.results') }}"
        role="button">Refresh results</a>
        </table>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script type=text/javascript>
            $(document).ready(function () {
                var ids;
                $("a#playlist").on("click", function (event) {
                    event.preventDefault()

                    ids = $(this).attr("name");

                    $.ajax({
                        type: 'POST',
                        url: "{{url_for('add_tracks.add_tracks')}}",
                        contentType: 'application/json;charset=UTF-8',
                        data: {'data': ids}
                    }).done(function (data) {
                            if (data.error) {
                                $("#error_msg").text(data.error).fadeIn("fast", function () {
                                    $("#error_msg").delay(2500).fadeOut();
                                });
                                $("#success_msg").hide();
                            } else {
                                $("#success_msg").text(data.msg).fadeIn("fast", function () {
                                    $("#success_msg").delay(2500).fadeOut();
                                });
                                $("#error_msg").hide();
                            }
                        }
                    );
                });
            });
        </script>
        <form>
        </form>

        <div class="pop-up" id="success_msg" style="display:none;"></div>
        <div class="pop-up" id="error_msg" style="display:none;"></div>

    {% else %}
        <div class="no_results">Sorry, no results were found. :( Please try again with different
            requirements!
        </div>
    {% endif %}


{% endblock %}
